* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-color: #661311;
    --ul-bg-color: #801716;
    --hover-color: #991C1A;
    --border-color: #330909
}

body {
    background: var(--bg-color);
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%; /* Na maioria das vezes não se coloca altura dos elementos em css pois ela vai se completando altomaticamente */
    max-width: 600px;
    margin: 56px auto 0px; /* Essa propriedade e valor servem para centralizar apenas horizontalmente um elemento de tamanho fixo */
    padding: 0 24px;
}

#perfil {
    text-align: center;
    padding: 24px;
}

#perfil img {
    width: 112px;
    border: 3px solid var(--border-color);
    border-radius: 50%;
}

#perfil p {
    font-weight: 500;
    line-height: 24px;
    padding-top: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px; /*Espaçamento entre os elementos filhos*/
    padding: 24px 0;
}

ul li a{
    display: flex; /* Deixa os elementos em linha de uma maneira flexivel, ou seja eles meio que se alinham automaticamente */
    align-items: center; /* Isso alinha o elemento verticalmente */
    justify-content: center; /* Isso alinha o elemento horizontalmente */
    padding: 16px 24px;
    background: var(--ul-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.1s ease-in;
}

ul li a:hover {
    background: var(--hover-color);
    border: 2px solid var(--border-color);
    transform: scale(1.1);
}

#redesSociais {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#redesSociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
    transition: transform 0.1s ease-in;
}

#redesSociais a:hover {
    background: var(--hover-color);
    border: 2px solid var(--border-color);
    transform: scale(1.1);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}